@font-face {
	font-family: 'Mulish-Bold';
	src:
		url('../../assets/fonts/Mulish-Bold.woff') format('woff'),
		url('../../assets/fonts/Mulish-Bold.woff2') format('woff2'),
		url('../../assets/fonts/Mulish-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Mulish-Regular';
	src:
		url('../../assets/fonts/Mulish-Regular.woff') format('woff'),
		url('../../assets/fonts/Mulish-Regular.woff2') format('woff2'),
		url('../../assets/fonts/Mulish-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Mulish-SemiBold';
	src:
		url('../../assets/fonts/Mulish-SemiBold.woff') format('woff'),
		url('../../assets/fonts/Mulish-SemiBold.woff2') format('woff2'),
		url('../../assets/fonts/Mulish-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Rubik-Medium';
	src:
		url('../../assets/fonts/Rubik-Medium.woff') format('woff'),
		url('../../assets/fonts/Rubik-Medium.woff2') format('woff2'),
		url('../../assets/fonts/Rubik-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Rubik-Regular';
	src:
		url('../../assets/fonts/Rubik-Regular.woff') format('woff'),
		url('../../assets/fonts/Rubik-Regular.woff2') format('woff2'),
		url('../../assets/fonts/Rubik-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('../../assets/fonts/icomoon.eot?jbvjef');
	src:
		url('../../assets/fonts/icomoon.eot?jbvjef#iefix') format('embedded-opentype'),
		url('../../assets/fonts/icomoon.ttf?jbvjef') format('truetype'),
		url('../../assets/fonts/icomoon.woff?jbvjef') format('woff'),
		url('../../assets/fonts/icomoon.svg?jbvjef#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
	content: '\e901';
}
.icon-close:before {
	content: '\e902';
}
.icon-dollar:before {
	content: '\e903';
}
.icon-mafiya:before {
	content: '\e904';
}
.icon-badge:before {
	content: '\e900';
}
.icon-user:before {
	content: '\e971';
}
.icon-equalizer:before {
	content: '\e992';
}
.icon-equalizer2:before {
	content: '\e993';
}
.icon-numbered:before {
	content: '\e9b9';
}
.icon-plus:before {
	content: '\ea0a';
}
.icon-minus:before {
	content: '\ea0b';
}
.icon-left2:before {
	content: '\ea40';
}
