@font-face {
    font-family: 'Mulish-Bold';
    src: url('../../assets/fonts/Mulish-Bold.woff') format('woff'),
        url('../../assets/fonts/Mulish-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Mulish-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Mulish-Regular';
    src: url('../../assets/fonts/Mulish-Regular.woff') format('woff'),
        url('../../assets/fonts/Mulish-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Mulish-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Mulish-SemiBold';
    src: url('../../assets/fonts/Mulish-SemiBold.woff') format('woff'),
        url('../../assets/fonts/Mulish-SemiBold.woff2') format('woff2'),
        url('../../assets/fonts/Mulish-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('../../assets/fonts/Rubik-Medium.woff') format('woff'),
        url('../../assets/fonts/Rubik-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Rubik-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('../../assets/fonts/Rubik-Regular.woff') format('woff'),
        url('../../assets/fonts/Rubik-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Rubik-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

