$bg-dark: #1b222d;
$bg-card: #2c3443;
$bg-page: #1b2937;
$bg-number: #393c47;
$color-primary: #255466;
$color-secondary: #205569;
$accent: #ff5722;
$text-primary: #fefefe;
$text-secondary: #f6f7f8;

$ms-bd: 'Mulish-Bold';
$ms-rg: 'Mulish-Regular';
$ms-sb: 'Mulish-SemiBold';

$rb-rg: 'Rubik-Regular';
$rb-md: 'Rubik-Medium';
