$bg-page: #1d2027;
$bg-header: #2c3137;
$bg-card: #323641;
$bg-number: #393c47;
$color-primary: #255466;
$color-secondary: #3a7079;
$accent: #ff5722;
$text-primary: #fefefe;
$text-secondary: #f6f7f8;

$ms-bd: 'Mulish-Bold';
$ms-rg: 'Mulish-Regular';
$ms-sb: 'Mulish-SemiBold';

$rb-rg: 'Rubik-Regular';
$rb-md: 'Rubik-Medium';
