$primary-dark: #00796b;
$primary-light: #b2dfdb;
$primary: #009688;
$text-icons: #ffffff;
$text-primary: #212121;
$text-secondary: #757575;
$accent: #ff5722;
$divider: #bdbdbd;

$ms-bd: 'Mulish-Bold';
$ms-rg: 'Mulish-Regular';
$ms-sb: 'Mulish-SemiBold';

$rb-rg: 'Rubik-Regular';
$rb-md: 'Rubik-Medium';
