$dark: #1b222d;
$dark-second: #2b3342;
$dark-back: #1b2a38;
$dark-medium: #393c46;
$primary: #255466;
$secondary: #205569;
$accent: #ff5722;
$light: #fefefe;
$light-medium: #f6f7f8;

$ms-bd: 'Mulish-Bold';
$ms-rg: 'Mulish-Regular';
$ms-sb: 'Mulish-SemiBold';

$rb-rg: 'Rubik-Regular';
$rb-md: 'Rubik-Medium';
