.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px 0px 10px;
	background-color: $bg-card;
	// .header__name
	&__name {
		font-family: $ms-rg;
		font-size: 20px;
		color: $text-primary;
		text-shadow: 2px 2px 6px $bg-card;
	}

	// .header__nav
	&__nav {
	}
	// .header__nav-item
	&__nav-item {
		margin: 2px;
		padding: 5px 10px;
		font-family: $rb-rg;
		font-size: 14px;
		color: $text-primary;
		background-color: $color-primary;
		border-radius: 5px;
	}
}
