.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px 0px 10px;
	background-color: $bg-card;
	// .header__name
	&__name {
		font-family: $ms-rg;
		font-size: 25px;
		color: $text-primary;
		text-shadow: 2px 2px 6px $bg-card;
	}
}
