.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: $primary-light;
	// .header__name
	&__name {
		font-family: $ms-rg;
		font-size: 20px;
		color: $text-primary;
		text-shadow: 1px 2px 2xp $primary-light;
	}

	// .header__nav
	&__nav {
	}

	// .header__nav-item
	&__nav-item {
		margin: 1px;
		padding: 5px 10px;
		font-family: $rb-rg;
		font-size: 14px;
		color: $primary-dark;
		border: 1px solid $primary-dark;
		border-radius: 5px;
	}
}
