.players {
	position: relative;
	padding: 10px;
	display: grid;
	grid-template-rows: 1fr auto;
	min-height: calc(100dvh - 100px);
	box-sizing: border-box;
	&__options {
		overflow-y: auto;
	}
	// background-color: #f8fafa;
	// .players__list
	&__list {
		max-height: 80vh;
		overflow-y: auto;
	}
}

.player {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	&--disabled {
		opacity: 0.5;
	}
	&:last-child {
		margin-bottom: 70px;
	}

	// .player__number
	&__number {
		position: relative;
		width: 25px;
		padding: 15px 15px;
		// margin-right: -2px;
		font-family: $ms-bd;
		font-size: 16px;
		text-align: center;
		color: $text-primary;
		background-color: $bg-number;
		box-shadow: 1px 1px 2px #000;
		border-radius: 5px;
		z-index: 10;
		&--disabled {
			pointer-events: none;
		}
	}

	// .player__desc
	&__desc {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-height: 49px;
		padding: 10px 0;
		align-items: center;
		background-color: $bg-card;
		z-index: 0;
		border-radius: 0 5px 5px 0;
		box-sizing: border-box;
		&--mod {
			border-radius: 0;
		}
	}

	// .player__name
	&__name {
		padding: 0 10px;
		margin-right: 5px;
		font-family: $rb-rg;
		font-size: 16px;
		color: $text-secondary;
	}
	&__input {
		display: inline-block;
		padding-left: 10px;
		margin-right: 20px;
		width: 100%;
		font-family: $rb-rg;
		font-size: 16px;
		color: $text-primary;
		background-color: $bg-card;
	}

	// .player__status
	&__status {
		display: flex;
		align-items: center;
	}

	// .player__role
	&__role {
		position: relative;
		padding: 2px 12px;
		margin-right: 20px;
		font-family: $rb-rg;
		font-size: 16px;
		color: $text-primary;
		border-radius: 5px;
		&::after {
			content: '';
			position: absolute;
			left: -15px;
			right: -15px;
			bottom: -1px;
			height: 2px;
			background: linear-gradient(to right, transparent, $accent, transparent); /* сужение к краям */
			border-radius: 1px;
		}
	}

	// .player__foll
	&__foll {
		display: flex;
		align-items: center;
		padding: 0 5px;
	}

	// .player__foll-name
	&__foll-name {
		margin-right: 5px;
		font-family: $rb-rg;
		font-size: 14px;
		color: $text-primary;
	}
	// .player__foll-btn
	&__foll-btn {
		font-family: $rb-rg;
		padding: 12px;
		height: 49px;
		font-size: 16px;
		color: $text-primary;
		background-color: $bg-number;
		&--mod {
			border-radius: 0 5px 5px 0;
		}
		&:active {
			background-color: $bg-card;
		}
	}

	&__foll-count {
		display: flex;
		align-items: center;

		border-radius: 5px;
		box-sizing: border-box;
	}
	// .player__foll-left
	&__foll-left {
		width: 36px;
		border-radius: 10px 0 0 10px;
	}
	// .player__foll-right
	&__foll-right {
		border-radius: 0 10px 10px 0;
	}
	&__foll-del {
		padding: 0 18px;
		color: $accent;
		border-radius: 10px;
		border: 1px solid $accent;
		box-sizing: border-box;
		&:focus {
			border: 1px solid $accent;
		}
		&:active {
			border: none;
		}
	}

	// .player__foll-number
	&__foll-number {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 0 3px 0 3px;
		width: 36px;
		height: 47px;
		font-size: 16px;
		font-family: $rb-rg;
		color: $text-secondary;
		background-color: $bg-card;
	}
}
