.players {
	padding: 10px;
	// background-color: #f8fafa;
	// .players__list
	&__list {
	}
}

.player {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	&--empty {
		opacity: 0.5;
	}
	&:last-child {
		margin-bottom: 70px;
	}

	// .player__number

	&__number {
		width: 25px;
		padding: 15px 15px;
		margin-right: -2px;
		font-family: $ms-bd;
		font-size: 16px;
		text-align: center;
		color: $text-primary;
		background-color: $bg-number;
		box-shadow: 1px 1px 2px #000;
		border-radius: 5px;
		z-index: 1;
	}

	// .player__desc
	&__desc {
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-height: 49px;
		padding: 10px 0;
		align-items: center;
		background-color: $bg-card;
		z-index: 0;
		border-radius: 0 5px 5px 0;
		box-sizing: border-box;
		&--mod {
			border-radius: 0;
		}
	}

	// .player__name
	&__name {
		padding: 0 10px;
		margin-right: 5px;
		font-family: $rb-rg;
		font-size: 16px;
		color: $text-secondary;
	}
	&__input {
		display: inline-block;
		padding-left: 10px;
		margin-right: 20px;
		width: 100%;
		font-family: $rb-rg;
		font-size: 16px;
		color: $text-primary;
		background-color: $bg-card;
	}

	// .player__status
	&__status {
		display: flex;
		align-items: center;
	}

	// .player__role
	&__role {
		padding: 2px 12px;
		margin-right: 20px;
		font-family: $rb-rg;
		font-size: 16px;
		color: $text-primary;
		background-color: $bg-number;
		border-radius: 15px;
		box-shadow: 1px 1px 5px #828080;
	}

	// .player__foll
	&__foll {
		display: flex;
		align-items: center;
		padding: 0 5px;
	}

	// .player__foll-name
	&__foll-name {
		margin-right: 5px;
		font-family: $rb-rg;
		font-size: 14px;
		color: $text-primary;
	}
	// .player__foll-btn
	&__foll-btn {
		font-family: $rb-rg;
		font-size: 20px;
		color: $text-primary;
		background-color: $color-primary;
	}

	&__foll-count {
		display: flex;
		align-items: center;
		border: 2px solid $color-primary;
		border-radius: 5px;
		box-sizing: border-box;
	}
	// .player__foll-left
	&__foll-left {
		// border-radius: 0 5px 5px 0;
	}
	// .player__foll-right
	&__foll-right {
		// border-radius: 5px 0 0 5px;
	}

	// .player__foll-count

	&__foll-number {
		display: block;
		padding: 4px 0 4px 5px;
		width: 15px;
		font-size: 16px;
		color: $text-secondary;
		background-color: $color-secondary;
	}
}
