.players {
	padding: 10px;
	// background-color: #f8fafa;
	// .players__list
	&__list {
	}
}

.player {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	&--empty {
		opacity: 0.5;
	}

	// .player__number

	&__number {
		width: 20px;
		padding: 10px 10px;
		margin-right: -2px;
		font-family: $ms-bd;
		font-size: 16px;
		text-align: center;
		color: $text-primary;
		background-color: $bg-number;
		box-shadow: 1px 1px 2px #000;
		border-radius: 5px;
		z-index: 1;
	}

	// .player__desc
	&__desc {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 5px 0;
		align-items: center;
		background-color: $bg-card;
		z-index: 0;
	}

	// .player__name
	&__name {
		padding: 5px 10px;
		margin-right: 5px;
		font-family: $rb-rg;
		font-size: 16px;
		color: $text-secondary;
	}

	// .player__status
	&__status {
		display: flex;
		align-items: center;
	}

	// .player__role
	&__role {
		padding: 2px 12px;
		margin-right: 20px;
		font-family: $rb-rg;
		font-size: 16px;
		color: $text-primary;
		background-color: $bg-number;
		border-radius: 15px;
		box-shadow: 1px 1px 5px #828080;
	}

	// .player__foll
	&__foll {
		display: flex;
		align-items: center;
		padding: 0 5px;
	}

	// .player__foll-name
	&__foll-name {
		margin-right: 5px;
		font-family: $rb-rg;
		font-size: 14px;
		color: $text-primary;
	}
	// .player__foll-btn
	&__foll-btn {
		font-family: $rb-rg;
		font-size: 17px;
		color: $text-primary;
		background-color: $color-primary;
	}
	// .player__foll-left
	&__foll-left {
		border-radius: 0 5px 5px 0;
	}
	// .player__foll-right
	&__foll-right {
		border-radius: 5px 0 0 5px;
	}

	// .player__foll-count

	&__foll-count {
		display: block;
		padding-left: 5px;
		width: 12px;
		font-size: 16px;
		color: $text-secondary;
		border: 1px solid $color-primary;
		background-color: $color-secondary;
	}
}
