.raffle {
	// .raffle__item
	&__item {
		display: none;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: relative;
		height: 100vh;
		width: 100%;
		padding: 20px 0;
		padding-bottom: calc(20px + env(safe-area-inset-bottom));

		box-sizing: border-box;
		z-index: 2;
		// background-position: center;
		// background-size: cover;
		// background-repeat: no-repeat;
		&--active {
			display: flex;
		}
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
	// .raffle__btn-prev
	&__btn-prev {
		position: absolute;
		left: 10px;
		color: #fff;
		font-size: 30px;
		z-index: 1;
	}

	// .raffle__top

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px;
	}

	// .raffle__title
	&__title {
		position: relative;
		display: inline-block;
		// margin-bottom: 10px;
		font-family: $ms-sb;
		font-size: 25px;
		color: $text-secondary;
		text-transform: uppercase;
		text-shadow: 0 3px 8px rgba(0, 0, 0, 0.7);
		&::after {
			content: '';
			position: absolute;
			left: -25px;
			right: -25px;
			bottom: 0;
			height: 2px;
			background: linear-gradient(to right, transparent, $accent, transparent); /* сужение к краям */
			border-radius: 1px;
		}
	}

	// .raffle__player-name
	&__player-name {
		font-family: $ms-bd;
		font-size: 35px;
		color: $text-secondary;
		text-shadow: 0 3px 8px rgba(0, 0, 0, 0.7);
	}

	// .raffle__bottom

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .raffle__player-role

	&__player-role {
		position: relative;
		margin-bottom: 60px;
		font-family: $ms-bd;
		font-size: 35px;
		color: $text-secondary;
		text-transform: uppercase;
		text-shadow: 0 3px 8px rgba(0, 0, 0, 0.7);
		&::after {
			content: '';
			position: absolute;
			left: -45px;
			right: -45px;
			bottom: -5px;
			height: 2px;
			background: linear-gradient(to right, transparent, $accent, transparent); /* сужение к краям */
			border-radius: 1px;
		}
		&::before {
			content: '';
			position: absolute;
			left: -45px;
			right: -45px;
			top: -5px;
			height: 2px;
			background: linear-gradient(to right, transparent, $accent, transparent); /* сужение к краям */
			border-radius: 1px;
		}
	}

	// .raffle__btn-next

	&__btn-next {
		min-height: 50px;
		color: $text-primary;
		font-size: 30px;
	}
}
