.roles {
	// .roles__title
	padding: 10px;
	&__title {
		font-size: 18px;
		font-family: $ms-bd;
		color: $text-primary;
	}
	// .roles__popup
	&__popup {
		display: flex;
	}
	// .roles__select
	&__select {
		position: relative;
		width: 100%;
		margin-right: 10px;
		box-sizing: border-box;
		&--focus {
			border: 1px solid $color-primary;
			border-radius: 10px;
		}
	}
	// .roles__close
	&__close {
		display: block;
		position: absolute;
		right: 0px;
		top: 0px;
		padding: 10px 15px;
		font-size: 20px;
		font-family: $rb-rg;
		color: $text-primary;
		user-select: none;
		&:active {
			color: $accent;
		}
	}
	// .roles__list
	&__list {
		width: 100%;
	}

	// .roles__add
	&__add {
		font-family: $rb-rg;
		padding: 12px;
		height: 49px;
		width: 100%;
		font-size: 16px;
		color: $text-primary;
		background-color: $bg-number;
		border: 2px solid $color-primary;
		box-sizing: border-box;
		border-radius: 10px;
		&--small {
			max-width: 164px;
		}
		&:hover {
			border: 2px solid $color-primary;
		}
		&:focus {
			border: 2px solid $color-primary;
		}
		&:active {
			border: none;
		}
	}
	// .roles__start
	&__start {
		position: fixed;
		display: inline-block;
		bottom: 20px;
		bottom: calc(20px + env(safe-area-inset-bottom));
		left: 50%;
		transform: translateX(-50%);
		height: 49px;
		width: 94%;
		max-width: 480px;
		text-align: center;
		line-height: 49px;
		font-size: 16px;
		font-family: $rb-rg;
		color: $text-primary;
		background-color: $color-primary;
		box-sizing: border-box;
		border-radius: 10px;
		&:active {
			background-color: $color-secondary;
		}
	}
}

.role {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;

	// .role__name
	&__name {
		width: 100%;
		padding: 15px;
		margin-right: 10px;
		font-family: $rb-rg;
		font-size: 16px;
		color: $text-secondary;
		background-color: $bg-card;
		border-radius: 10px;
		box-sizing: border-box;
		&--modbrb {
			border-radius: 0;
			&:last-child {
				border-radius: 0 0 10px 10px;
			}
		}
		&--modbrt {
			border-radius: 10px 10px 0 0;
		}
	}

	// .role__count
	&__count {
		display: flex;
		align-items: center;
	}

	// .role__btn
	&__btn {
		font-family: $rb-rg;
		padding: 12px;
		height: 49px;
		font-size: 16px;
		color: $text-primary;
		background-color: $bg-number;
		&--mod {
			border-radius: 0 5px 5px 0;
		}
		&:active {
			background-color: $bg-card;
		}
	}

	// .role__btn-left

	&__btn--left {
		width: 36px;
		border-radius: 10px 0 0 10px;
	}

	// .role__count-number

	&__count-number {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 3px 0 3px;
		width: 36px;
		height: 49px;
		font-size: 16px;
		font-family: $rb-rg;
		color: $text-secondary;
		background-color: $bg-card;
	}

	// .role__btn-right
	&__btn--right {
		border-radius: 0 10px 10px 0;
	}

	&__btn--del {
		margin-left: 5px;
		width: 45px;
		color: $accent;
		border-radius: 10px;
		border: 1px solid $accent;
		box-sizing: border-box;
		&:focus {
			border: 1px solid $accent;
		}
		&:active {
			border: none;
		}
	}
}
