.roles {
	padding: 10px;
	// .roles__list
	&__list {
	}
}

.role {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;

	// .role__name
	&__name {
		width: 100%;
		padding: 15px;
		margin-right: 10px;
		font-family: $rb-rg;
		font-size: 16px;
		color: $text-secondary;
		background-color: $bg-card;
		border-radius: 10px;
	}

	// .role__count
	&__count {
		display: flex;
		align-items: center;
	}

	// .role__btn

	&__btn {
		font-family: $rb-rg;
		padding: 12px;
		height: 49px;
		font-size: 20px;
		color: $text-primary;
		background-color: $bg-number;
	}

	// .role__btn-left

	&__btn-left {
		width: 36px;
		border-radius: 10px 0 0 10px;
	}

	// .role__count-number

	&__count-number {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 3px 0 3px;
		width: 36px;
		height: 49px;
		font-size: 16px;
		font-family: $rb-rg;
		color: $text-secondary;
		background-color: $bg-card;
	}

	// .role__btn-right
	&__btn-right {
		border-radius: 0 10px 10px 0;
	}

	&__btn-del {
		margin-left: 5px;
		width: 45px;
		color: $accent;
		border-radius: 10px;
		border: 1px solid $accent;
		box-sizing: border-box;
	}
}
